$sm: 768px;
$md: 1024px;
$lg: 1280px;

@mixin sm {
  @media screen and (max-width: $sm) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: $md) {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: $lg) {
    @content;
  }
}